* {
    margin: 0;
    padding: 0;
}

/* header sec */
ul li {
    color: #333333c0;
    font-size: 20px;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}

.list {
    display: flex;
    gap: 50px;
}

.parent {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0px 62px;
    align-items: center;
    width: auto;
}

.title {
    color: #333;
    font-size: 36px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

/* header sec end */

nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 270px;
}

.navt {
    color: #2D9CDB;
    font-size: 21px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    padding-top: 90px;
}

.navp {
    color: #333;
    font-size: 48px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    padding-top: 15px;
}

img {
    border-radius: 18px;
    width: 93%;

}

.imgdiv {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}